@import "variables";
h1 {
    color: black;
}

h2 {
    color: rgb(16, 17, 15);
}

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}

.card-body {
    height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.1;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.3;
}

#detail {
    font-size: 24px;
}
